<!DOCTYPE html>
<html lang="en">
<head>
    <title>Game Show Buzzer</title>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body ng-app="gameshowBuzzerApp" ng-controller="buzzerController as vm">
    <div class="container">
        <div class="row">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">
                        Gameshow Buzzer {{vm.title}}
                        <span id="youwin" class="label label-success" ng-show="vm.winner">YOU WIN!</span>
                        <span id="sorry" class="label label-danger" ng-show="vm.sorry">sorry</span>
                    </h3>
                </div>
                <div class="panel-body center-block">
                    <input type="button" class="btn btn-lg btn-primary" value="Buzz" ng-click="vm.buzz()" ng-disabled="!vm.ready()" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="pull-right">
                <input type="button" class="btn btn-default center-block" value="Reset" ng-click="vm.reset()" />
            </div>
        </div>
    </div>
    <script src="Scripts/jquery-1.9.1.js"></script>
    <script src="Scripts/jquery.signalR-2.0.1.js"></script>
    <script src="Scripts/angular.js"></script>
    <script src="signalr/hubs"></script>
    <script src="app/js/gameshowBuzzerApp.js"></script>
    <script src="app/js/signalRSvc.js"></script>
</body>
</html>
