 a.buzzer {
            display: block;
            background-color: #7abcff;
            background-image: -webkit-gradient(linear, left top, left bottom, from(#7abcff), to(#4096ee));
            background-image: -webkit-linear-gradient(top, #7abcff, #4096ee);
            background-image: -moz-linear-gradient(top, #7abcff, #4096ee);
            background-image: -ms-linear-gradient(top, #7abcff, #4096ee);
            background-image: -o-linear-gradient(top, #7abcff, #4096ee);
            color: #3b8cfb;
            margin: 36px;
            width: 288px;
            height: 288px;
            position: relative;
            text-align: center;
            line-height: 288px;
            border-radius: 50%;
            box-shadow: 0px 3px 8px #407aee, inset 0px 2px 3px #7ad1ff;
        }
            a.buzzer:hover {
                text-decoration: none;
                color: #555;
                background: #7ad1ff;
            }
            a.buzzer[disabled],a.buzzer[disabled]:hover {
                background-color: #777;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#ccc));
                background-image: -webkit-linear-gradient(top, #f7f7f7, #ccc);
                background-image: -moz-linear-gradient(top, #f7f7f7, #ccc);
                background-image: -ms-linear-gradient(top, #f7f7f7, #ccc);
                background-image: -o-linear-gradient(top, #f7f7f7, #ccc);
                box-shadow: 0px 3px 8px #f7f7f7, inset 0px 2px 3px #ccc;
            }
            a.buzzer.winner[disabled],a.buzz.winnerer[disabled]:hover {
                background-color: #777;
                background-image: -webkit-gradient(linear, left top, left bottom, from(#bafec8), to(#04e449));
                background-image: -webkit-linear-gradient(top, #bafec8, #04e449);
                background-image: -moz-linear-gradient(top, #bafec8, #04e449);
                background-image: -ms-linear-gradient(top, #bafec8, #04e449);
                background-image: -o-linear-gradient(top, #bafec8, #04e449);
                box-shadow: 0px 3px 8px #bafec8, inset 0px 2px 3px #04e449;
            }
