<div>
    <div class="row">
        <h3>Gameshow Buzzer
        </h3>
    </div>
    <div class="row">
        <h4>Join a game</h4>
    </div>
    <div class="row" data-ng-controller="buzzerController as vm">
        <form class="form form-inline" name="playerNameForm" novalidate
            data-ng-submit="vm.setPlayerName()">
            <label>
                Player Name:
                <input type="text" name="playerName"
                    placeholder="Enter your name"
                    required autofocus 
                    data-ng-model="vm.playerName"
                    />
            </label>
            <button type="submit"
                data-ng-disabled="!playerNameForm.$valid"
                class="btn btn-primary btn-sm">Join</button>

            <span class="has-error"
                data-ng-show="setName.playerName.$error.required">Required!</span>
        </form>
        <tt>playerName = {{vm.playerName}}</tt>
        <br>
        <tt>playerNameForm.playerName.$valid = {{playerNameForm.playerName.$valid}}</tt>
        <br>
        <tt>playerNameForm.playerName.$error = {{playerNameForm.playerName.$error}}</tt>
        <br>
        <tt>playerNameForm.$valid = {{playerNameForm.$valid}}</tt>
        <br>
        <tt>playerNameForm.$error.required = {{!!playerNameForm.$error.required}}</tt>
        <br>
    </div>
</div>
